<div class="contain-to-grid sticky">
	<nav class="top-bar">
  	<ul class="title-area">
    	<li class="name">
      	<h1><%= link_to "DaaS Demo", root_url %></a></h1>
    	</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  	</ul>

  	<section class="top-bar-section">			
    	<ul class="right">
      	<li><%= link_to "My Assets", assets_path %> </li>
      	<!-- <li class="divider"></li> -->
				<!-- <li><%#= link_to "Menu 2", '' %></li>										 -->
			</ul>
  	</section>
	</nav>	
</div>	
